<h1 class="titleTextInterface text-application">Passwords</h1>

<br>

<div class="row">

    <div class="col-md-2">
        <mat-form-field class="text-application">
            <mat-label>Content</mat-label>
            <input matInput type="text" name="content" (keyup)="getAllPasswords()" [(ngModel)]="content"/>
        </mat-form-field>
    </div>

    <div class="col-md-10">
        <button 
            type="button" 
            (click)="newPassword()" 
            mat-mini-fab 
            style="background: #263238;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>
    </div>  

</div>

<br>

<div class="row">

    <div *ngFor="let password of (passwordsList | paginate: { itemsPerPage: itemsPerPage , currentPage: p })" class="mx-auto my-3" [ngClass]="innerWidth < 1366 || innerWidth == 1366 ? 'col-md-4' : 'col-md-3'">

        <mat-card class="text-application example-card">

            <mat-card-header style="height: 80px;">
                <img *ngIf="password.imageUrl" mat-card-avatar [src]="password.imageUrl" class="style-picture">
                <img *ngIf="!password.imageUrl" mat-card-avatar src="/assets/pictures/no-picture-logo.png" class="style-picture">           
                <mat-card-title style="margin-top: 20px;font-size: larger;">{{ password.contentName }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <mat-grid-list cols="12">

                    <mat-grid-tile colspan="4">{{ password.labelFirstCoordinate }}</mat-grid-tile>             
                    <mat-grid-tile colspan="8">           
                        <span>{{ password.firstCoordinate }}</span>
                        &nbsp;
                        <i class="fa fa-copy" style="cursor: pointer;" (click)="copyCoordinate(password.firstCoordinate)"></i>        
                    </mat-grid-tile>
                    
                    <br>

                    <mat-grid-tile colspan="4">{{password.labelSecondCoordinate}}</mat-grid-tile>                
                    <mat-grid-tile colspan="8">             
                        <span>{{ password.secondCoordinate }}</span>
                        &nbsp;
                        <i class="fa fa-copy" style="cursor: pointer;" (click)="copyCoordinate(password.secondCoordinate)"></i>   
                    </mat-grid-tile>

                </mat-grid-list>

            </mat-card-content>

            <mat-card-actions>

                <div class="row justify-content-center">

                    <button 
                        type="button"
                        mat-button
                        [matMenuTriggerFor]="menu" 
                        class="style-button text-application">
                        <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
                        Actions
                    </button>

                    <mat-menu #menu="matMenu" class="my-menu" xPosition="before">

                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="editPassword(password)">
                            <mat-icon style="color: #9C27B0">edit</mat-icon>
                            Edit
                        </button>

                        <button
                            type="button"
                            *ngIf="password.path"  
                            mat-menu-item
                            class="text-application">
                            <mat-icon style="color: #283593;">link</mat-icon>
                            <a href="{{ password.path }}" target="_blank" style="text-decoration: none;">
                            <span style="color: black !important;margin-left: 5px;">Link</span>
                            </a>  
                        </button>

                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="deletePassword(password.key)">
                            <mat-icon style="color: #f44336">delete</mat-icon>
                            Delete
                        </button>

                    </mat-menu>

                </div>

            </mat-card-actions>

        </mat-card>

    </div>
    
</div>

<br>

<div *ngIf="passwordsList.length !== 0" class="pagination">
    <pagination-controls (pageChange)="p = $event;OnPageChange()"></pagination-controls>
</div>

<div *ngIf="passwordsList.length == 0" class="row justify-content-center no-results text-application">
    No results
</div>