<div mat-dialog-title class="dialog-title">
  <h3 *ngIf="!note.key" mat-dialog-title class="text-application">New note</h3>
  <h3 *ngIf="note.key" mat-dialog-title class="text-application">Edit note</h3>
</div>

<div class="row">

  <div class="col-md-12">

    <form (ngSubmit)="save()" #f="ngForm">

      <mat-form-field color="accent" style="width: 240px !important;">
        <mat-label>Keyword</mat-label>
        <mat-select name="keywordSelected" class="text-application" [(ngModel)]="note.keyword" (openedChange)="onSelectOpened($event)" required>
            <input #searchInput class="input-search text-application" matInput type="text" name="keywordForSearch" (keyup)="filterOptions()" [(ngModel)]="keywordForSearch"/>
            <mat-option *ngFor="let keyword of keywordsListForForm" [value]="keyword">
              <span class="text-application">{{keyword}}</span>
            </mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;

      <mat-icon 
        style="color: #2196F3;vertical-align: text-top;cursor: pointer;" 
        (click)="newKeyword()">
        add
      </mat-icon>

      <br>

      <mat-form-field color="accent">
        <mat-placeholder class="text-application"><span>Content</span></mat-placeholder>
        <input matInput #input type="text" [(ngModel)]="note.contentNote" name="contentNote" class="text-application" required>
      </mat-form-field>

      <br>

      <mat-form-field color="accent">
        <mat-placeholder class="text-application"><span>Path</span></mat-placeholder>
        <input matInput #input type="text" [(ngModel)]="note.path" name="path" class="text-application">
      </mat-form-field>

      <div class="row justify-content-center" mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;" class="text-application">Save</button>
        <button mat-button type="button" (click)="close()" tabindex="-1" style="background:#607D8B;color: white;" class="text-application">Cancel</button>
      </div>

    </form>
  
  </div>
  
</div>