<h1 class="titleTextInterface text-application">Users</h1>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="queryEmail" (keyup)="getAllUsers()" [(ngModel)]="queryEmail"/>
        </mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Picture</th>
            <td mat-cell *matCellDef="let element"> 
                <img mat-card-md-image src="/assets/pictures/NoImageAvailable.png">
            </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Details</th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend text-application">
                    <div><span>Name:</span></div>
                    <div>{{ element.name }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Email:</span></div>
                    <div>{{ element.email }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Pwd:</span></div>
                    <div>{{ element.password }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Con:</span></div>
                    <div>{{ element.isConnected }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="movies">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Movies</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleMovies" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="animes">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Animes</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleAnimes" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="series">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Series</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleSeries" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="files">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Files</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleFiles" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="debts">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Debts</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleDebts" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{element:element}">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row style="background: #2196F3;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div *ngIf="dataSource.data.length == 0" class="row justify-content-center no-results text-application">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements"
        (page)="OnPageChange($event)">
    </mat-paginator>
</div>

<mat-menu #contextMenu="matMenu" xPosition="before">
	<ng-template matMenuContent let-user="element">

        <button
            *ngIf="user.roleMovies || user.roleAnimes || user.roleSeries || user.roleFiles || user.roleDebts"
            type="button"
            mat-menu-item 
            (click)="openModalPrivileges(user)"
            class="text-application">
            <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button
            type="button"
            mat-menu-item 
            (click)="deleteUser(user.key)"
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>  

	</ng-template>
</mat-menu>