.mat-form-field {
    width: 100%;
}

.mat-dialog-content {
    height: 60vh;
}

.mat-dialog-actions {
    justify-content: center;
}

.progress-background {
    width: 100%;
    background: gray;
    height: 5px;
    border-radius: 5px;
}

.progress-meter {
    background: rgb(73, 4, 163);
    height: 5px;
    border-radius: 5px;
}