.widhtInput {
  width: 100%;
}
  
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 20px;
}
     
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
    
.mat-icon {
  color: #3e75ff;
}

.example-card {
  max-width: 400px;
}

.mat-paginator {
  justify-content: right;
} 

.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.style-picture {
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
}

::ng-deep .my-menu {
  width: 100%;
}

.style-button{
  min-width: unset!important;
  display: table; 
  margin: 0 auto;
}