<mat-toolbar *ngIf="isConnected" class="mat-elevation-z8">

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  Personal Informations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button mat-icon-button (click)="isOpenOverlayNotifs = !isOpenOverlayNotifs" cdkOverlayOrigin #triggerNotifs="cdkOverlayOrigin">
    <mat-icon 
      [matBadgeHidden]="allNotifNotDone.length == 0" 
      [matBadge]="allNotifNotDone.length" 
      matBadgePosition="after" 
      matBadgeColor="accent" 
      matBadgeSize="medium">
      notifications_none
    </mat-icon>
  </button>

  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="triggerNotifs"
  [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="isOpenOverlayNotifs = false"
  [cdkConnectedOverlayOpen]="isOpenOverlayNotifs" let-c="close" let-d="dismiss">
  <div class="notification-container text-application" cdkMenu>
      <div class="notification-header">
          <h2>Notifications</h2>
          <span class="notification-view-all">
              <a routerLink='/notifications' (click)="isOpenOverlayNotifs = false">View All</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-times" aria-hidden="true" (click)="isOpenOverlayNotifs = false"></i>
          </span>
      </div>
      <div class="overlay-panel">
        <ul class="notification-list">
          <li class="notification-item" *ngFor="let notification of allNotifNotDone" cdkMenuItem>
              <div class="notification-icon">
                  <i *ngIf="notification.reminderForId == 1" class="fa fa-film"></i>
                  <i *ngIf="notification.reminderForId == 2" class="fa fa-rocket"></i>
                  <i *ngIf="notification.reminderForId == 3" class="fa fa-television"></i>
                  <i *ngIf="notification.reminderForId == 4" class="fa fa-sticky-note"></i>
                  <i *ngIf="notification.reminderForId == 5" class="fa fa-clock-o"></i>
                  <i *ngIf="notification.reminderForId == 6" class="fa fa-calendar"></i>
                  <i *ngIf="notification.reminderForId == 7" class="fa fa-money"></i>
                  <i *ngIf="notification.reminderForId == 8" class="fa fa-file"></i>
                  <i *ngIf="notification.reminderForId == 9" class="fa fa-unlock-alt"></i>
                  <i *ngIf="notification.reminderForId == 10" class="fa fa-plus-square"></i>
                  <i *ngIf="notification.reminderForId == 11" class="fa fa-file"></i>
                  <i *ngIf="notification.reminderForId == 12" class="fa fa-bell"></i>
              </div>
              <div class="notification-content">
                  <span class="notification-title">
                      <span *ngIf="notification.reminderForId == 1">Movie</span>
                      <span *ngIf="notification.reminderForId == 2">Anime</span>
                      <span *ngIf="notification.reminderForId == 3">Serie</span>
                      <span *ngIf="notification.reminderForId == 4">Note</span>
                      <span *ngIf="notification.reminderForId == 5">Clocking</span>
                      <span *ngIf="notification.reminderForId == 6">Expiration</span>
                      <span *ngIf="notification.reminderForId == 7">Debt</span>
                      <span *ngIf="notification.reminderForId == 8">File</span>
                      <span *ngIf="notification.reminderForId == 9">Password</span>
                      <span *ngIf="notification.reminderForId == 10">Medication</span>
                      <span *ngIf="notification.reminderForId == 11">Document</span>
                      <span *ngIf="notification.reminderForId == 12">Other</span>&nbsp;
                      <i *ngIf="notification.notifSubjectDone == true" class="fa fa-check" style="color: green;" aria-hidden="true"></i>
                      <i *ngIf="notification.notifSubjectDone == false" class="fa fa-times" style="color: red;" aria-hidden="true"></i>
                  </span>
                  <span class="notification-message">{{notification.subject}}</span>
                  <span class="notification-date-time">
                    {{notification.date | date:'dd/MM/yyyy'}}&nbsp;{{notification.time}}<br>
                    <span class="notification-time">{{ getTimeAgo(notification.formatDate) }}</span>
                  </span>
              </div>
          </li>
      </ul>
      </div>
     
  </div>
</ng-template>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img
      class="avatar mat-elevation-z8"
      src="../../assets/user3.png"
    />

    <h4 class="name">Fahmi Bouabidi</h4>

    <p class="designation">Developer</p>

    <mat-divider></mat-divider>

    <button *ngFor="let sideNavContext of sideNavList" mat-button class="menu-button" (click)="redirectToSideNavContext(sideNavContext)">
      <mat-icon>{{sideNavContext.icon}}</mat-icon>
      <span>{{sideNavContext.text}}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Log out</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>