mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  border-radius: 10px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.notification-container {
  width: 317px; /* Updated width */
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.notification-header h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  color: #333;
}

.notification-header .notification-view-all {
  font-size: 14px;
  color: #999;
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-item {
  display: flex;
  align-items: center;
  /* Ensures icon and content are aligned */
  padding: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f0f0f0;
}

.notification-icon {
  flex-shrink: 0;
  /* Prevents shrinking */
  width: 40px;
  /* Ensures all icons have the same width */
  height: 40px;
  /* Ensures square shape */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  margin-right: 12px;
  /* Ensures proper spacing between icon and content */
}

.notification-content {
  flex: 1;
  /* Makes content take remaining space */
  display: flex;
  flex-direction: column;
}

.notification-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.notification-message {
  font-size: 14px;
  color: #666;
}

.notification-date-time {
  font-size: 12px;
  color: #999;
}

.notification-time {
  font-size: 12px;
  color: #999;
}

.overlay-panel {
  max-height: 430px; /* Adjust as needed */
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
}