<div mat-dialog-title class="dialog-title" id="name">
  <h3 *ngIf="listSeasonsByParentAnimeKey.length == 1" class="text-application">No seasons yet</h3>
  <h3 *ngIf="listSeasonsByParentAnimeKey.length > 1" class="text-application">All seasons</h3>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>

  <ng-container *ngFor="let anime of listSeasonsByParentAnimeKey">

    <mat-card appMaterialElevation [defaultElevation]="defaultElevation" [raisedElevation]="16">

      <mat-grid-list cols="4" rowHeight="250px">

        <mat-grid-tile>
          <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
          <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">
        </mat-grid-tile>

        <mat-grid-tile class="center-name-anime">
          <h3 *ngIf="anime.nameAnime !== '-'" class="text-application" style="cursor: pointer;"
            (click)="copyText(anime.nameAnime)">
            {{ anime.nameAnime }}
          </h3>
          <h3 *ngIf="anime.nameAnime == '-'" class="text-application" style="cursor: pointer;"
            (click)="copyText(anime.nameAnimeEng)">
            {{ anime.nameAnimeEng }}
          </h3>
        </mat-grid-tile>

        <mat-grid-tile class="text-application">

          <div style="width:100%;">

            <div class="gridForLegend"
              style="width:70%; height:100%; margin: auto; margin-top: 1em; margin-bottom: 1em;">
              <div>
                <dt>Year/Type</dt>
              </div>
              <div></div>
              <div style="width: 171%;">
                <span *ngIf="anime.year">{{ anime.year }}</span>
                <span *ngIf="!anime.year">?</span>
                /
                <span *ngIf="anime.type">{{ anime.type }}</span>
                <span *ngIf="!anime.type">?</span>
              </div>
            </div>

            <div *ngIf="anime.season && !anime.notLiked && anime.type !== 'Movie' && anime.type !== 'Manga'"
              class="gridForLegend" style="width:70%; height:100%; margin: auto; margin-top: 1em; margin-bottom: 1em;">
              <div>
                <dt>Season</dt>
              </div>
              <div></div>
              <div>{{ anime.season }}</div>
            </div>

            <div class="gridForLegend"
              style="width:70%; height:100%; margin: auto; margin-top: 1em; margin-bottom: 1em;">
              <div>
                <dt>Status</dt>
              </div>
              <div></div>
              <div>
                <i *ngIf="anime.statusId == 1" class="fa fa-2x fa-spinner fa-spin" style="color:goldenrod;"></i>
                <i *ngIf="anime.statusId == 2" class="fa fa-2x fa-download" style="color: red;"></i>
                <i *ngIf="anime.statusId == 3 && !anime.notLiked" class="fa fa-2x fa-eye" style="color: green;"></i>
                <i *ngIf="anime.statusId == 4" class="fa fa-2x fa-eye" style="color: red;"></i>
                <i *ngIf="anime.statusId == 5" class="fa fa-2x fa-search" style="color:#07609b;"></i>
                <i *ngIf="anime.notLiked" class="fa fa-2x fa-thumbs-down" style="color: red;"></i>
              </div>
            </div>

            <div *ngIf="anime.statusId == 1" class="gridForLegend"
              style="width:70%; height:100%; margin: auto; margin-top: 1em; margin-bottom: 1em;">
              <div>
                <dt>Check</dt>
              </div>
              <div></div>
              <div style="width: 152%;">
                <span *ngIf="anime.checkDate">{{ anime.checkDate | date: 'd MMM y' }}</span>
                <span *ngIf="!anime.checkDate">?</span>
              </div>
            </div>

            <div *ngIf="!anime.notLiked && anime.statusId !== 3 && anime.type !== 'Movie' && anime.type !== 'Manga'"
              class="gridForLegend" style="width:70%; height:100%; margin: auto; margin-top: 1em; margin-bottom: 1em;">
              <div>
                <dt>Curr/Tot</dt>
              </div>
              <div></div>
              <div style="width: 113%;">
                <span *ngIf="anime.currentEpisode">{{ anime.currentEpisode }}</span>
                <span *ngIf="!anime.currentEpisode">?</span>
                /
                <span *ngIf="anime.totalEpisodes">{{ anime.totalEpisodes }}</span>
                <span *ngIf="!anime.totalEpisodes">?</span>
              </div>
            </div>

            <div class="gridForLegend"
              style="width:70%; height:100%; margin: auto; margin-top: 1em; margin-bottom: 1em;">
              <div>
                <dt>Note</dt>
              </div>
              <div></div>
              <div>
                <mat-icon *ngIf="anime.note" style="color: black;" style="cursor: pointer;"
                  (click)="viewNote(anime.note)">note</mat-icon>
                <i *ngIf="!anime.note" class="fa fa-minus-circle"></i>
              </div>
            </div>

          </div>

        </mat-grid-tile>

        <mat-grid-tile>

          <button type="button" mat-button [matMenuTriggerFor]="menu" class="style-button text-application center-btn">
            <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
            Actions
          </button>

          <mat-menu #menu="matMenu" class="my-menu" xPosition="before">

            <button mat-menu-item class="text-application" (click)="editAnime(anime)">
              <mat-icon style="color: #9C27B0">edit</mat-icon>
              Edit
            </button>

            <button *ngIf="anime.statusId == 1 && anime.path" mat-menu-item class="text-application"
              (click)="followLink(anime.path)">
              <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
              Check
            </button>

            <button *ngIf="anime.statusId == 2 && anime.path" mat-menu-item class="text-application"
              (click)="followLink(anime.path)">
              <mat-icon style="color: green">cloud_download</mat-icon>
              Download
            </button>

            <button *ngIf="anime.statusId == 4 && anime.path" mat-menu-item class="text-application"
              (click)="followLink(anime.path)">
              <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
              Watch
            </button>

            <button *ngIf="anime.statusId == 5 && anime.path" mat-menu-item class="text-application"
              (click)="followLink(anime.path)">
              <mat-icon style="color: #0e8999">search</mat-icon>
              Search
            </button>

            <button mat-menu-item class="text-application" (click)="deleteAnime(anime.key)">
              <mat-icon style="color: #f44336;">delete</mat-icon>
              Delete
            </button>

          </mat-menu>

        </mat-grid-tile>

      </mat-grid-list>

    </mat-card>

    <br>

  </ng-container>

</mat-dialog-content>