<div mat-dialog-title class="dialog-title">
  <h3 *ngIf="!password.key" mat-dialog-title class="text-application">New password</h3>
  <h3 *ngIf="password.key" mat-dialog-title class="text-application">Edit password</h3>
</div>

<mat-dialog-content>
  <form (ngSubmit)="save()" #f="ngForm">
    
    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>Content</span></mat-placeholder>
      <input matInput #input type="text" [(ngModel)]="password.contentName" name="contentName" class="text-application" required>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>Label First Coordinate</span></mat-placeholder>
      <input matInput #input type="text" [(ngModel)]="password.labelFirstCoordinate" name="labelFirstCoordinate" class="text-application" required>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>Label Second Coordinate</span></mat-placeholder>
      <input matInput #input type="text" [(ngModel)]="password.labelSecondCoordinate" name="labelSecondCoordinate" class="text-application" required>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>First Coordinate</span></mat-placeholder>
      <input matInput #input type="text" [(ngModel)]="password.firstCoordinate" name="firstCoordinate" class="text-application" required>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>Second Coordinate</span></mat-placeholder>
      <input matInput #input type="text" [(ngModel)]="password.secondCoordinate" name="secondCoordinate" class="text-application" required>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>Path</span></mat-placeholder>
      <input matInput #input type="text" [(ngModel)]="password.path" name="path" class="text-application">
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-placeholder class="text-application"><span>Note</span></mat-placeholder>
      <textarea matInput #input type="text" [(ngModel)]="password.note" name="note" rows="4" cols="40" class="text-application"></textarea>
    </mat-form-field>

    <button type="button" mat-button (click)="fileInput.click()">Choose picture</button>
    <input hidden (change)="onFileChanged($event)" #fileInput type="file" id="file" accept=".jpeg,.jpg,.png,.svg">
    <br *ngIf="progressValue"><br *ngIf="progressValue">
    <div *ngIf="progressValue | async as val" class="progress-background">
        <div class="progress-meter" [ngStyle] = "{'width.%': val}"></div>
        <span style="margin-left: 45%;">{{ val | number: '1.0-0' }}%</span>
    </div>

    <br *ngIf="progressValue">

    <mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;" class="text-application">Save</button>
      <button mat-button type="button" (click)="close()" tabindex="-1" style="background:#607D8B;color: white;" class="text-application">Cancel</button>
    </mat-dialog-actions>
  
  </form>
</mat-dialog-content>